body {
    margin: 0;
}

main {
    display: flex;
    position: fixed;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

#cat-list {
    display: flex;
    width: 25ch;
}

#projects {
    display: flex;
    width: 35ch;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5em;
}

.pencil {
    display: none;
    right: 0;
    color: white;
    height: 100%;
    width: 2em;
    cursor: pointer;
}

.deleter {
    right: 0;
    color: white;
    cursor: pointer;
}

.category:hover {
    background-color: lightblue;
    cursor: pointer;
}

    .category:hover > .pencil {
        display: block;
        background-color: lightcoral;
    }

        .category:hover > .pencil:hover {
            background-color: red;
        }

.item-name {
    display: inline-block;
    box-sizing: border-box;
    flex-grow: 1;
    cursor: pointer;
    height: 100%;
    line-height: 1.5em;
    vertical-align: middle;
}

.folder-level {
    display: flex;
    flex-direction: column;
    border: 1px inset black;
    box-sizing: border-box;
    border-left: 0;
}

.cat-select, .proj-select {
    background-color: steelblue;
    height: 2em;
}

    .cat-select .item-name, .proj-select .item-name {
        line-height: 2em;
        vertical-align: middle;
    }

    .cat-select .pencil, .proj-select .pencil {
        line-height: 2em;
        vertical-align: middle;
        justify-content: center;
    }

/* This is stuff for the photos section: */

#photos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    object-fit: contain;
}

#add-pics {
    width: 100%;
}

#photo-display {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: scroll;
    object-fit: contain;
}

.photo {
    height: 250px;
    width: 250px;
    border: 1px dashed darkgrey;
    font-size: 3em;
    font-weight: bolder;
    color: darkgrey;
    line-height: 230px;
    vertical-align: middle;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

.edit-hide {
    display: none !important;
}