:root {
    --pic-size: 250px; /* This only works because the pic frame is square. */
    --pic-frame-size: 272px;
}

body {
    margin: 0;
}

main {
    display: flex;
    position: fixed;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

#cat-list {
    display: flex;
    min-width: 25ch;
}

#projects {
    display: flex;
    flex-shrink: 0;
    min-width: 35ch;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5em;
}

.pencil {
    display: none;
    right: 0;
    color: white;
    height: 100%;
    width: 2em;
    cursor: pointer;
}

.deleter {
    right: 0;
    color: white;
    cursor: pointer;
}

.category:hover {
    background-color: lightblue;
    cursor: pointer;
}

    .category:hover > .pencil {
        display: block;
        background-color: lightcoral;
    }

        .category:hover > .pencil:hover {
            background-color: red;
        }

.item-name {
    display: inline-block;
    box-sizing: border-box;
    flex-grow: 1;
    cursor: pointer;
    height: 100%;
    line-height: 1.5em;
    vertical-align: middle;
}

.folder-level {
    display: flex;
    flex-direction: column;
    border: 1px inset black;
    box-sizing: border-box;
    border-left: 0;
}

.cat-select, .proj-select {
    background-color: steelblue;
    height: 2em;
}

    .cat-select .item-name, .proj-select .item-name {
        line-height: 2em;
        vertical-align: middle;
    }

    .cat-select .pencil, .proj-select .pencil {
        line-height: 2em;
        vertical-align: middle;
        justify-content: center;
    }

#photos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    object-fit: contain;
}

    #add-pics {
        width: 100%;
        overflow-y: scroll;
    }

    #photo-display {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    #toolbar {
        background-color: grey;
    }

        .photo-group {
            display: flex;
            position: relative;
            width: var(--pic-frame-size);
            height: calc(var(--pic-frame-size) + 2em);
            margin: 1rem 0 0 1rem;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

            .photo-group::before {
                position: absolute;
                content: '';
                height: inherit;
                width: inherit;
                background-color: rgba(10,10,190,0);
                cursor: pointer;
            }

            .pic {
                height: var(--pic-frame-size);
                width: var(--pic-frame-size);
                margin: 0;
                border: 1px dashed darkgrey;
                text-align: center;
                padding: 10px;
                box-sizing: border-box;
                user-select: none;
            }

                .pic img {
                    object-fit: contain;
                    height: var(--pic-size);
                    width: var(--pic-size);
                }

                .pic + figcaption {
                    line-height: 2em;
                }

.edit-hide {
    display: none !important;
}

.sel-pic::before {
    background-color: rgba(10,10,190,.3);
}